<div class="uploadsection" appDragdrop (onFileDropped)="selectFiles($event)">
    <h2 *ngIf="TitleDisplaySts">{{browseTitle}}</h2>
    <div class="uploadbox">
        <form style="display: none"
        class="file-upload__native-selection"
        [formGroup]="file_selection_form">
        <input type="file" #fileSelector
            formControlName="file_selection"
            [accept]="FileConfig.file_type"
            multiple="{{FileConfig.is_multiple_selection_allowed}}">
    </form>
        <div class="elements">
            <p>Drag and drop or <a (click)="openFileSelector()">browse file</a></p>
        </div>
    </div>
</div>
