<mat-expansion-panel color="primary">
    <mat-expansion-panel-header mat-elevation-z8>About ME</mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
        <mat-card appMaterialElevation appMaterialElevation class="cardclass">
            <mat-card-content>
                <mat-card-title>Introduction</mat-card-title>
            </mat-card-content>
            <mat-card-content>
                {{aboutme}}
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary">Edit</button>
            </mat-card-actions>
        </mat-card>
    </ng-template>
</mat-expansion-panel>

<mat-expansion-panel color="primary">
    <mat-expansion-panel-header mat-elevation-z8>FUND RAISER OTHER DETAILS</mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
        <div class="template">
            <mat-card appMaterialElevation class="cardclass">
                <mat-card-content>
                    <mat-card-title>Other details <mat-icon  class="active-icon"> border_color</mat-icon></mat-card-title>
                </mat-card-content>
                <mat-card-content>
                    <div class="templatecount">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        CITY :
                                    </td>
                                    <td>
                                        {{city}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        PHONE :
                                    </td>
                                    <td>
                                        {{phone}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card-content>
                <mat-card-content>
                </mat-card-content>                
            </mat-card>
        </div>
    </ng-template>
</mat-expansion-panel>
