<mat-toolbar>
  <mat-toolbar-row class="header-styling">
    <!-- <img src="assets/images/SE_Logo_White_RGB.svg" alt="AdminLTE Logo" style="opacity: .8; width: 120px; margin-left: 10px;"> -->
    <div fxFlex="42%">
      <a class="navbar-brand">
        <img src="assets/images/img.png" style="width: 80px; margin-left: 60px;">
      </a>
    </div>

    <span class="title-center">CrowdFund4World</span>
    <div class="userprofile" *ngIf="userLoggedIn">
      <img src="https://www.pngitem.com/pimgs/m/504-5040528_empty-profile-picture-png-transparent-png.png" class="profileimage">

      <div class="userinfo">
        <h5>{{userName}}</h5>
      </div>
    </div>

    <button mat-icon-button style="margin-left: 35px;" *ngIf="userLoggedIn" (click)="signOut()">
      <mat-icon>logout</mat-icon>
    </button>

  </mat-toolbar-row>
</mat-toolbar>
