<div class="firstsection">
    <div class="title">
        <h4>Projects List</h4>
    </div>
    <span class="example-spacer"></span>
    <div class="form-group has-search">       
        <mat-icon matSuffix class="form-control-search">search</mat-icon>
        <input type="text" class="form-control" placeholder="Search for projects.." #input>
    </div>
</div>

<mat-card appMaterialElevation appMaterialElevation class="cardclass" *ngIf=!isFunder>
    <mat-card-content class="cardbutton">
        <mat-icon (click)="addProject()">add_circle_outline</mat-icon>
        <p>Add new project</p>
    </mat-card-content>
</mat-card>


<div >
    <mat-card class="carddata" *ngFor="let proj of projectArray">
        <div class="title">
            <mat-card-title>{{proj.projectName}}</mat-card-title>
            <mat-divider></mat-divider>
            <br>
            <div>
                <h4>{{proj.projectDescription}}</h4>
            </div>
            <mat-divider></mat-divider>
            <br>
            <div>
                <table>
                    <tr>
                        <td align="left"><h4>GOAL(INR)-{{proj.projectTarget}}  </h4></td><br>
                        <td align="right"><h4>ACQUIRED(INR)-{{proj.projectAcquired}}</h4></td>
                    </tr>
                </table>
                <!-- <h5>PROJECT GOAL (INR) - </h5><h3>{{proj.projectTarget}}</h3> -->
                <!-- <h5>PROJECT ACQUIRED (INR) - </h5><h3>{{proj.projectAcquired}}</h3> -->
            </div>
        </div>
        <button *ngIf="isFunder" class="arrowbutton" (click)="fundPayment(proj.projectId)">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </mat-card>
</div>

