<div class="wrapper">
    <div class="firstsection">
        <div class="title">
            <h4>{{data.title}}</h4>
        </div>
        <span class="example-spacer"></span>
        <button mat-icon-button color="primary" mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <form [formGroup]="fundingForm" class="form-signin" >
        <div class="form-label-group">
          <input formControlName="amount" id="amount" (keypress)="numberOnly($event)" class="form-control" placeholder="Amount you want donate !" required autofocus>
        </div>        
      </form>


    <div class="info">
        <mat-icon aria-hidden="false">info</mat-icon>
        <p>{{data.info}}</p>
    </div>

    <div class="buttonsection">
        <button mat-raised-button color="primary" class="button-add" (click)="addProject()">Add project</button>
        <button mat-raised-button color="primary" class="button-cancel" mat-dialog-close
            style="margin-left: 5px;">Cancel</button>
    </div>
    
</div>
