.outer-section{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.Left-Section{
    width: 441px;
    background: #FBFBFB 0% 0% no-repeat padding-box;
    border: 1px solid #70707026;
    opacity: 1;
    display: flex;
    flex-direction: column;
    .header{
        margin-left: 20px;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        h1{
            font: normal normal bold 21px/25px Arial;
            letter-spacing: 0px;
            color: #1B1534;
            opacity: 1;
        }
        button
        {
            width: 15px;
            height: 12px;
            margin-top: -8.5px;
        }

    }

    .sub-header{
        margin-left: 23px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        a{
            height: 16px;
            font: normal normal normal 14px/16px Arial;
            letter-spacing: 0px;
            color: #878787;
            opacity: 1;
            text-decoration: none;
            cursor: pointer;;
        }
        a:last-child{
            color: #641E8C;
        }
        span{
            height: 16px;
            text-align: center;
            font: normal normal normal 14px/16px Arial;
            letter-spacing: 0px;
            color: #878787;
            opacity: 1;
        }
    }

}

.cardsection{
    margin-left: 20px;
    margin-top: 10px;
    .card{
        background-color: transparent;
        display: flex;
        flex-direction: row;
        border: 0px;
        .numbered-section{
            display: flex;
            flex-direction: column;
            gap: 2px;
            justify-content: center;
            align-items: center;
            gap:10px
        }

        .numbered{
            min-width: 27px;
            min-height: 27px;
            background: #E8CCFA 0% 0% no-repeat padding-box;
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            font: normal normal bold 21px Arial;
            letter-spacing: 0px;
            color: #1B1534;
            opacity: 1;
        }
        .disablednumber{
            background:  #D9D9D9 0% 0% no-repeat padding-box;;
        }
        .slash{
            width: 0px;
            height: 27px;
            border: 1px dashed #ABABAB;
            opacity: 1;
        }
        .mat-card{
            margin: 7px;
            width: 359px !important;
            height: 90px !important;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 4px 5px #00000026;
            border: 1px solid #70707026;
            border-radius: 4px;
            opacity: 1;
            display: flex;
            flex-direction: column;
            padding-left: 17px;
            .title{
                display: flex;
                flex-direction: row;
                h2{
                    text-align: left;
                    font: normal normal bolder 14px/16px Arial;
                    letter-spacing: 0px;
                    color: #1B1534;
                    opacity: 1;
                    flex: 1;
                }
                p{
                    width: 100px;
                    height: 25px;
                    margin: 0px;
                    background: #C9F8FF 0% 0% no-repeat padding-box;
                    border-radius: 15px;
                    opacity: 1;
                    font-weight: bold;
                    color: #0056C5;
                    opacity: 1;
                    text-align: center;
                }

                .completebackground{
                    background: #DCFFDC !important;
                }

                .disablebackgroung{
                    background: #EEEBEA 0% 0% no-repeat padding-box !important;
                    color : #554646 !important;
                    opacity: 1;
                }

            }

            .subTitle{
                display: flex;
                flex-direction: column;
                gap: 5px;
                p{
                    margin: 0px;
                    text-align: left;
                    font: normal normal normal 12px/15px Arial;
                    letter-spacing: 0px;
                    color: #1B1534;
                    opacity: 1;
                }
            }
        }
    }
}


.enabledbackground{
    background:#F3E5FD !important;
}


.right-Section{
    flex: 1;
    border: 2px solid #E3E3E3;
    opacity: 1;
}

.add-step {
    float: right;
    cursor: pointer;
    position: relative;
    bottom: 5px;
}
