<div class="firstsection">
    <div class="title">
        <h4>Archived Projects List</h4>
    </div>
    <span class="example-spacer"></span>
    <div class="form-group has-search">       
        <mat-icon matSuffix class="form-control-search">search</mat-icon>
        <input type="text" class="form-control" placeholder="Search for projects.." #input>
    </div>
</div>


<div >
    <mat-card class="carddata" *ngFor="let proj of projectArray">
        <div class="title">
            <mat-card-title>{{proj.projectName}}</mat-card-title>
            <mat-divider></mat-divider>
            <br>
            <div>
                <h4>{{proj.projectDescription}}</h4>
            </div>
            <mat-divider></mat-divider>
            <br>
            <div>
                <h5>PROJECT GOAL (INR) - </h5><h3>{{proj.projectTarget}}</h3>
            </div>
        </div>
    </mat-card>
</div>

