<div class="wrapper">
    <div class="firstsection">
        <div class="title">
            <h4>{{data.title}}</h4>
        </div>
        <span class="example-spacer"></span>
        <button mat-icon-button color="primary" mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <form [formGroup]="projectFormGroup" class="form-signin" >
        <div class="form-label-group">
          <input formControlName="projectName" id="projectName" class="form-control" placeholder="Project Name" required autofocus>
        </div>
        <br>
        <div class="form-label-group">
          <input formControlName="projectDescription" id="projectDescription" class="form-control" placeholder="Project Description" required>
        </div>
        <br>
        <div class="form-label-group">
            <input formControlName="projectArea" id="projectArea" class="form-control" placeholder="Project location(City)" required autofocus>
          </div>
          <br>
          <div class="form-label-group">
            <input formControlName="projectTarget" id="projectTarget" (keypress)="numberOnly($event)" class="form-control" placeholder="Project Goal(INR) - only number" required>
          </div>
      </form>


    <div class="info">
        <mat-icon aria-hidden="false">info</mat-icon>
        <p>{{data.info}}</p>
    </div>

    <div class="buttonsection">
        <button mat-raised-button color="primary" class="button-add" (click)="addProject()">Add project</button>
        <button mat-raised-button color="primary" class="button-cancel" mat-dialog-close
            style="margin-left: 5px;">Cancel</button>
    </div>
    
</div>
