
.add-unit-container {
    p {
        color: #707070;
        font-size: 12px;
    }  
    
      .btn-style {
        border-radius: 20px;
        line-height: 2;
        border: 2px solid #8a00e5;
      }

      .add-table-btn {
        margin-top: 15px;
      }

      .add-btn {
        position: absolute;
        bottom: 10px;
      }

      .cancel-btn {
        position: absolute;
        bottom: 10px;
        left: 90px;
      }

      form.row {
        margin: 0px;
      }

      .btn-style.mat-button-disabled {        
        border-color: rgba(0, 0, 0, 0.26);
      }

      label::after {
        content:" *";
        color: red;
      }

      label {
        padding-bottom: 5px;
        font-size: 13px;
      }

      input, select {
        font-size: 12px;
      }

      .form-select, .form-control {
        line-height: 1;
      }

      .form-select:focus, .form-control:focus {
        box-shadow: none;
      }

      .ng-invalid.ng-touched {
        border-color: red;
      }   
      
      .add-unit {
        padding-top: 10px;
        padding-bottom: 10px;
        background: #706f6f14;
      }

      .sub-content {
        box-shadow: none;
        border: none;
        padding: 0px;
        .tablesection {
            height: 300px;
            .delete-button {
                .mat-icon {                    
                    font-size: 18px;
                }
            }

            .mat-header-row {             
              height: 38px;              
            }
            .mat-row {
              height: 38px !important;
            }
        }
      } 

       
}