<div class="wrapper">
    <div class="firstsection">
        <div class="iconsection">
            <mat-icon>delete</mat-icon>
        </div>
        <div class="title">
            <h1>{{data.title}}</h1>
            <p>{{data.subtitle}}</p>
        </div>
        <span class="example-spacer"></span>
        <button mat-icon-button class="closebutton" color="primary" mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-divider></mat-divider>
    <div class="secondsection">
        <p><strong>User Name : </strong>{{data.username}}</p>
        <p><strong>Date : </strong>{{data.date | date}}</p>
        <p><strong>Reason </strong><span class="required-asterisk astetrick">*</span></p>
        <textarea placeholder="Type here..." style="resize: none;height: 200px;" maxlength="100" [(ngModel)]="text"></textarea>
        <label>{{text.length}}/100</label>
    </div>

    <div class="buttonsection">
        <button mat-raised-button color="primary" (click)="DeleteButtonAction()">Delete</button>
        <button mat-stroked-button color="primary" mat-dialog-close>Cancel</button>
    </div>
</div>
