<div class="tablesection">
    <h2>{{browseTitle}}</h2>
    <div class="info">
        <mat-icon>info</mat-icon>
        <p>Deleting uploaded file will permanently delete file from database.</p>
    </div>
    <div class="table-container mat-elevation-z8">
        <table mat-table color="primary" [dataSource]="Tabledata" #table> 
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th> 
                <td mat-cell *matCellDef="let element">
                    <div class="name-column" *ngIf="element.name != null">
                        <mat-icon>description</mat-icon>
                        <p>{{element.name}}</p>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date </th> 
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element.uploadsts">
                        {{element.uploaddate | date :"dd/MM/yy hh:mm:ss"}}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element"> 
                    <div class="delete-button">
                        <button mat-icon-button (click)="OnDeleteButtonClick(element)">
                            <mat-icon>delete</mat-icon>Delete
                        </button>
                    </div>
                </td>
              </ng-container>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="tablerowstyle"></tr>
        </table>
    </div>
</div>