.outerwrapper {
    margin: 10px;
    display: flex;
    flex-direction: column;
    .header{
        display: flex;
        flex-direction: row;
        gap: 15px;
        h1{
            color: #1B1534;
            font-size: 17px;
            font-weight: bold;
            margin: 0px;
        }
        button
        {
            width: 15px;
            height: 12px;
            margin-top: -5.5px;
        }
        
    }

    .content{
        border: 1px solid #70707033;
        box-shadow: 2px 4px 5px #00000026;
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin-top: 10px;
        flex: 1;
        background-color: transparent;
        h2{
            color: #1B1534;
            font-size: 13px;
            font-weight: bold;
            display: inline-block;
            margin: 0px;
        }   

        .info{
            display: flex;
            flex-direction: row;
            gap: 17px;
            mat-icon{
                height: 0.5px;
                width: 0.5px;
                font-size: 17px;
            }
            p{
                color: #707070;
                font-size: 11px;
                margin-top: -1px;
            }
        }

        .tablesection{
            height: 430px;
            overflow: auto;
            display: flex;
            flex-direction: column;

            .with-icon {
                display: flex;
                align-items: center;
                .mat-icon{
                    vertical-align:middle;
                    text-align:end;
                    cursor: none;
                    color: #8A00E5;
                }
            }

            .mat-table{
                width: 100%;
                height: auto;
            }

            .mat-header-row{
                background-color: #E6E6E6;
                height: 48px;
                border: 1px solid #C2C2C2E6;
            }

            .mat-row{
                max-height: 42px !important;
            }

            .mat-cell{
                font-size: 12px;
                color: #707070;
                padding: 0px;
            }

            .mat-header-cell{
                font-weight: bolder;
                font-size: 12px;
                color: #1B1734;
                padding: 0px;
                text-align: right;
            }

            .mat-header-cell:last-child{
                padding-right: 65px;
            }

            .mat-row:nth-child(even){
                background-color: #E6E6E6;
                border: 1px solid #C2C2C24D;
            }
                    
            .mat-row:nth-child(odd){
                background-color: transparent;
                border: 1px solid #C2C2C24D;
            }

            .mat-column-phasetemplate{
                word-wrap: break-word !important;
                white-space: unset !important;
                width: 33.3%;
                text-align: left;
                padding-left: 20px;
            }
    
            .mat-column-date{
                width: 33.3%;
                text-align: center;
            }
    
            .mat-column-actions{
                width: 33.3%;
                text-align: right;
            }

            .delete-button{
                text-align: right;
                padding-right: 50px;
                .mat-icon-button{
                    color: #8A00E5;
                    font-size: 12px;
                }

                .mat-icon-button:first-child
                {
                    margin-right: 30px;
                }

                .mat-icon{
                    vertical-align:middle;
                    text-align:end;
                    cursor: pointer;
                    color: #8A00E5;
                }
            }
        }
    }
}