.wrapper {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: 'Arial' !important;

    .mat-divider {
        border: 1px solid #CECECE;
    }

    .firstsection {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        gap: 20px;

        .iconsection {
            .mat-icon {
                font-size: 45px;
                color: #8A00E5;
            }
        }

        .example-spacer {
            flex: 1 1 auto;
        }

        .mat-icon-button {
            background-color: transparent !important;

            .mat-icon {
                color: #8A00E5;
            }
        }

        .title {
            display: flex;
            flex-direction: column;

            h1 {
                display: inline-flex;
                font-family: 'Arial';
                font-size: 17px;
                font-weight: bolder;
                padding: 0px;
                margin: 0px;
                width: 51px;
                height: 20px;
            }

            p {
                font-size: 10px;
                margin-top: 5px;
                font-weight: lighter;
                height: 15px;
            }
        }
    }


    .thirdsection{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        p{
            padding: 0px;
            margin: 0px;
            font-size: 11px;
        }

        .astetrick{
            color: red;
        }

        textarea{
            border: 1px #707070 solid;
            padding: 10px;
        }

        label{
            align-self: flex-end;
            color: #1B1534;
            font-size: 9px;
        }
    }

    .button-save {
        cursor: pointer;
        border-radius: 18px;
    }

    .button-cancel {
        cursor: pointer;
        border-radius: 18px;
        margin-left: 10px;
    }

    .button-save.mat-button-disabled {
        border: 1px solid rgba(0, 0, 0, 0.26);
    }


}
