<div class="wrapper">
    <div class="firstsection">
        <div class="iconsection">
            <mat-icon>error_outline</mat-icon>
        </div>

        <div class="title">
            <h1>{{data.title}}</h1>
            <p>{{data.subtitle}}</p>
        </div>

        <span class="example-spacer"></span>
        <button mat-icon-button class="closebutton" color="primary" mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-divider></mat-divider>   

    <div class="thirdsection">
        <p><strong>Phase name  : </strong>{{data.phasename}}</p>
        <p><strong>User name : </strong>{{data.username}}</p>
        <p><strong>Date Of Invalidation : </strong>{{data.date | date}}</p>
        <p><strong>Reason </strong><span class="required-asterisk astetrick">*</span></p>
        <textarea placeholder="Type here..." style="resize: none;height: 200px;" maxlength="100" [(ngModel)]="data.reason"></textarea>
        <label>{{text.length}}/100</label>
    </div>
        
    <div class="buttonsection">
        <button mat-raised-button color="primary" [disabled]="!data.reason" [mat-dialog-close]="data" class="button-save">{{data.ok}}</button>
        <button mat-raised-button color="primary" class="button-cancel" mat-dialog-close>Cancel</button>
    </div>
</div>